<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% # see https://github.com/Nerian/bootstrap-datepicker-rails for datepicker %>

  
  <div class="field">
    <%= f.label "When to send your message" %><br />
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <p>The Date format is [Year] [Month] [Day] - [Hour] : [Minute]</p>
	  <p>I realise this is a bit clunky, but it will get better as I polish up the interface. Also, don't expect minute level accuracy. 
	  The server is only checking for messages to send once every 10 minutes anyway</p>
	</div>	
	
	<div class="alert alert-error">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <p>Due to the server being in Sunny California, it is ignorant of British Summer Time
	  This means you need to specify an email <strong>one hour before</strong> you actually
	  want the email sent</p>
	  <p>An email that the server thinks to be sent at 10am will actually be sent at 11. At least this applies before BST ends in a few weeks.</p>
	</div>	
	
	<div class="alert alert-block">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <p>One more thing, please be aware your reminders are totally public at the moment.</p>
	</div>	
	
	<%= f.datetime_select :send_at %>

  </div>
  <div class="field">
    <div class="input-prepend">
	<span class="add-on">To: <i class="icon-envelope"></i></span>
	<%= f.text_field :send_to, class: "span4" %>
	</div>
  </div>
  
  <div class="field">
    <div class="input-prepend">
	<span class="add-on">Subject:</span>
    <%= f.text_field :subject, class: "span7" %>
	</div>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body , class: "span11" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
  
<% end %>

  	<div class="alert alert-block">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <h4>Email Spoofing?</h4>
	  <br />
	  <p>Email spoofing is when the email pretends to come from one place when it didn't. In other words, I can send you an email and it will appear in your email client as though
	  it were from obama@whitehouse.gov rather than from me</p>
	  <p>This is useful if you want to make it appear your email came from somewhere other than this website, for example your personal account. Initially I was considering
      making this a paid option, or only allow spoofing of addresses that have been verified. But its also a key tactic for phishers and spammers and any suspicion of
	  being open those with malicious intent and this site will be shut down <strong>very</strong> fast</p> 
	  <p>But I think its a neat feature. Consider your opinions solicited </p>
	  <br/><div class="field">
	    Sent from<br />
		<input type="text" class="span4">
	  </div>
	</div>	
