<div class="hero-unit">
  <h1>Send an Email Reminder </h1>
  <p>Send emails at the appropriate time. Useful to remind yourself or others of birthdays, upcoming meetings, shopping lists etc. </p>
  <%= link_to 'Send an Email', new_message_path, class: "btn btn-success" %>
</div>

  	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <p>Emails will appear to be sent from a gmail account "whalemail0@gmail.com".</p>
	  <p>I am struggling to name this email reminder app thing so if you can think of a name, preferably one that I can buy the .com domain to host it,
	  I am all ears. At the moment its called F-mail as in Forward Mail, but I am definately open to suggestions.</p>
	</div>	

  	<div class="alert alert-alert">
	  <button type="button" class="close" data-dismiss="alert">x</button>
	  <p>Please be aware that all users can edit and delete anyones messages at the moment. Please try to do so only to your own</p>
	</div>	
	
	
<h1>Emails already in the queue to send</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Id</th>
    <th>Send at</th>
    <th>Send to</th>
    <th>Subject</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.id %></td>
    <td><%= message.send_at.ctime %></td>
    <td><%= message.send_to %></td>
    <td><%= message.subject %></td>
    <td><pre class="pre-scrollable"><%= message.body %></pre></td>
    <td><%= link_to 'Edit', edit_message_path(message), class: "btn" %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete, class: "btn" %></td>
  </tr>
<% end %>
</table>
